*{
    box-sizing: border-box;
}
.downicon{
    margin-left: 20px;
    cursor: pointer;
}
.column{
   
    text-align: left;
    padding-right: 76px;
   
   
}
.column.margin{
    padding-left: 20px;
}

hr{
    width:100%;
}